#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
<<<<<<< HEAD
  filter: drop-shadow(0 0 2em #01a21eaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #009b10aa);
=======
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
>>>>>>> d78408d867d70d3fc432b3fbab542490480effc4
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
<<<<<<< HEAD
  color: #0cc434;
=======
  color: #888;
>>>>>>> d78408d867d70d3fc432b3fbab542490480effc4
}
